# Assignment 01
## Chapter 2 - Python for Data Analysis by Wes McKinny, 2nd Edition

### 2.1 The Python Interpreter

In [14]:
print("Hello world")

Hello world

### 2.2 IPython Basics

In [15]:
import numpy as np

In [16]:
# Creates a variable named data that refers to a newly created Python dictionary
data = {i : np.random.randn() for i in range(7)}
data

{0: 0.3845212197817169,
 1: 1.0221019140410288,
 2: 0.5720819909200708,
 3: -1.3095413159639901,
 4: 0.604666539004915,
 5: -0.8827630277946366,
 6: -0.7369826357682266}

Another way to do the same thing as above.

In [17]:
from numpy.random import randn

In [18]:
data = {i : randn() for i in range(7)}
print(data)

{0: 1.721637935501505, 1: -0.5202134265291128, 2: 0.05388584718922686, 3: 0.17182679489969366, 4: -0.07779322683270345, 5: -1.1373441616177329, 6: 0.8486978844347712}

### 2.3 Python Language Basics

In [19]:
a = [1,2,3]
b = a

In [20]:
a.append(4)
b

[1, 2, 3, 4]

Both 'a' and 'b' reference the same object.

In [21]:
# Lets play with a function
def append_element(some_list, element):
    some_list.append(element)

In [22]:
data = [1,2,3]

In [23]:
append_element(data,4)
data

[1, 2, 3, 4]

Object references in Python have no type associated with them.

In [24]:
a = 5
type(a)

int

In [25]:
a = "foo"
type(a)

str

In [26]:
# Some lanauges will be convert '5' to an integer or string, Python does not do this
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [27]:
a = 4.5
b = 2

In [28]:
print('a is {0}, b is {1}'.format(type(a),type(b)))

a is <class 'float'>, b is <class 'int'>

In [29]:
a/b

2.25

In [30]:
a = 5

In [31]:
# Is something an integer
isinstance(a, int)

True

In [32]:
# Can check if object is among multiple types in a tuple
a = 5
b = 4.5

isinstance(a, (int,float))
isinstance(b, (int,float))

True

#### Duck Typing

In [33]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: #not iterable
        return False

In [34]:
isiterable('a string')

True

In [35]:
isiterable([1,2,3])

True

In [36]:
isiterable(5)

False

#### Binary operators and comparisons

In [37]:
5-7

-2

In [38]:
12 + 21.5

33.5

In [39]:
5 <= 2

False

In [40]:
a = [1,2,3]
b = a
c = list(a)

In [41]:
a is b

True

In [42]:
a is not c

True

In [43]:
a == c

True

In [44]:
a = None
a is None

True

#### Mutable and immutable objects

In [45]:
# Mutable objects: lists, dicts, NumPy arrays, and most user-defined types
a_list = ['foo', 2, [4,5]]
a_list[2] = (3,4)

a_list

['foo', 2, (3, 4)]

In [46]:
# Immutable objects: strings and tuples
a_tuple = (3,5,(4,5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

#### Scalar Types

In [47]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [48]:
fval = 7.243
fval2 = 6.78e-5

In [49]:
3/2

1.5

In [50]:
# Floor division operator dropps the fractional part if it is not a whole number
3//2

1

In [51]:
a = 'one way of writing a string'
b = "another way"

# Contains four lines of text
c = """
This is a longer string that
spans multiple lines
"""

In [52]:
# Count how many new line characters
c.count('\n')

3

In [53]:
# python strings are immutable
b = a.replace('string', 'longer string')
b

'one way of writing a longer string'

In [54]:
# can covert things to a string
a = 5.6
s = str(a)
print(s)

5.6

In [55]:
# Strings can be treated as a sequence
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [56]:
s[:3]

'pyt'

In [57]:
# backslash is an escape character
# to write a literal string with backslashes you need to esapce them
s = '12\\34'
print(s)

12\34

In [58]:
# r stands for raw
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [59]:
a = 'this is the first half'
b = 'this is the second half'
a + b

'this is the first halfthis is the second half'

In [60]:
template = '{0:.2f} {1:s} are worth US${2:d}'
# {0:.2f} floating point with two decimal places
# {1:s} format second argument as a string
# {2:d} third argument as an exact integer

In [61]:
template.format(5.5560, 'Argentine Pesos', 1)

'5.56 Argentine Pesos are worth US$1'

#### Bytes and Unicode

In [62]:
val = "espanol"
val_utf8= val.encode('utf-8')
val_utf8

b'espanol'

In [63]:
type(val_utf8)

bytes

In [64]:
val_utf8.decode('utf-8')

'espanol'

In [65]:
val.encode('latin1')

b'espanol'

In [66]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00n\x00o\x00l\x00'

In [67]:
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00n\x00o\x00l\x00'

In [68]:
bytes_val = b'this is bytes'
bytes_val

b'this is bytes'

In [69]:
decoded = bytes_val.decode('utf8')
decoded

'this is bytes'

#### Booleans

In [70]:
True and True

True

In [71]:
False or True

True

#### Type Casting
Cast values to certain types.

In [72]:
s = '3.14159'
fval = float(s)
type(fval)

float

In [73]:
int(fval)

3

In [74]:
bool(fval)

True

In [75]:
bool(0)

False

#### None

In [76]:
a = None
a is None

True

In [77]:
b = 5
b is not None

True

In [78]:
# Common default value for function arguments
def add_and_maybe_multiply(a,b,c=None):
    result = a + b
    
    if c is not None:
        result = result * c
    
    return result

In [79]:
type(None)

NoneType

#### Dates and Times

In [80]:
from datetime import datetime, date, time

In [81]:
dt = datetime(2011,10,29,20,30,21)

In [82]:
dt.day

29

In [83]:
dt.minute

30

In [84]:
dt.date()

datetime.date(2011, 10, 29)

In [85]:
dt.time()

datetime.time(20, 30, 21)

In [86]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [87]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [88]:
# Can replace certain fields of datetimes
dt.replace(minute=0,second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [89]:
# Datetime is an immutable type
dt2 = datetime(2011,11,15,22,30)
delta = dt2-dt
delta

datetime.timedelta(days=17, seconds=7179)

In [90]:
type(delta)

datetime.timedelta

In [91]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [92]:
dt+delta

datetime.datetime(2011, 11, 15, 22, 30)

#### Control Flow

Example of an elif statement...

if x < 0:
    print('It\'s negative')
elif x==0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

In [93]:
a = 5; b=7
c=8; d=4

In [94]:
if a < b or c > d:
    print('Made it')

Made it

In [95]:
4 > 3 > 2 > 1

True

Example of for loop...

for value in collection
    # do something with that value

In [96]:
sequence = [1,2,None,4,None,5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value

In [97]:
total

12

In [98]:
for i in range(4):
    for j in range(4):
        if j>i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [99]:
# While loop
x = 256
total = 0
while x >0:
    if total > 500:
        break
    total += x
    x = x // 2

In [100]:
total

504

In [101]:
# Pass - no-op statement in Python, used where no action is to be taken
if x < 0:
    print('negative!')
elif x == 0:
    #TODO put something smart here
    pass
else:
    print('positive!')

positive!

In [102]:
# Range
range(10)

range(0, 10)

In [103]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
# Start, End, Skip
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [105]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [106]:
seq = [1,2,3,4]
for i in range(len(seq)):
    value = seq[i]
    print(value)

1
2
3
4

In [107]:
# Add together all numbers from 0 to 99,999 that are mutlipes of 3 or 5
sum = 0
for i in range(100000):
    # % mod operator
    if (i % 3 == 0) or (i % 5 == 0):
        sum += i
print(sum)

2333316668