# Assignment 06

## Step 1
Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html

In [1]:
import pandas as pd

df_list = pd.read_html('https://www.genealogybranches.com/censuscosts.html')

## Step 2
Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.

In [2]:
len(df_list)

2

In [3]:
df_list[0].head()

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [4]:
df_list[1].head()

                                                   0
0  The U.S. population reached 300,000,000 on 17 ...

In [5]:
# this has the data that we need
df = df_list[0]

## Step 3
Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

In [6]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df)

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

In [7]:
# what are the columns
df.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [8]:
# first_row
first_row = df.iloc[0]
first_row

0                Census Year
1           Total Population
2                Census Cost
3    Average Cost Per Person
Name: 0, dtype: object

In [9]:
# drop first row
df.drop([0], inplace=True)

In [10]:
df.columns = first_row
df.head()

0 Census Year Total Population Census Cost Average Cost Per Person
1        1790          3929214     $44,377              1.13 cents
2        1800          5308483     $66,109              1.24 cents
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents
5        1830         12866020    $378,545              2.94 cents

## Step 4
Document the data quality issues a Markdown cell so the reader understands what the problems are.

**Year:** last value has an '*'

**Cost:** has the word 'billion' in some of them

**Average:** Not all of them are in dollars or cents

## Step 5
Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")

In [11]:
def cleanse_year(raw_year):
  year = raw_year.replace("*","")
  return year

In [12]:
cleanse_year("1989*")

'1989'

In [13]:
cleanse_year("20*10")

'2010'

## Step 6
Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.

In [14]:
df['Census Year'] = df['Census Year'].apply(cleanse_year)

In [15]:
df

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23        2010        308745538     $13 Billion                  $42.11

## Step 7
Repeat this process for column "Total Population", "Census Cost", "Average Cost Per Person". (define, test, and apply the function)

Total Population Cleanse: nothing to do, there are no "," in the column

Census Cost: remove the '$' and 'Billion'

In [18]:
def cleanse_census(raw_cost):
  cost = raw_cost.lstrip("$").replace(",","")
  if  raw_cost.find("4.5") != -1:          # if "4.5" in raw_cost:
      cost = "45" + "0" * 8
  elif raw_cost.find("Billion") != -1:     # elif "Billion" in raw_cost: 
      cost = "13" + "0" * 9
  return cost

In [19]:
df['Census Cost'] = df['Census Cost'].apply(cleanse_census)

In [20]:
df

0  Census Year Total Population  Census Cost Average Cost Per Person
1         1790          3929214        44377              1.13 cents
2         1800          5308483        66109              1.24 cents
3         1810          7239881       178445              2.46 cents
4         1820          9633822       208526              2.16 cents
5         1830         12866020       378545              2.94 cents
6         1840         17069458       833371              4.88 cents
7         1850         23191876      1423351              6.14 cents
8         1860         31443321      1969377              6.26 cents
9         1870         38558371      3421198              8.87 cents
10        1880         50155783      5790678             11.54 cents
11        1890         62979766     11547127             18.33 cents
12        1900         76303387     11854000             15.54 cents
13        1910         91972266     15968000             17.07 cents
14        1920        105710620     25117000             23.76 cents
15        1930        122775046     40156000             32.71 cents
16        1940        131669275     67527000             51.29 cents
17        1950        151325798     91462000             60.44 cents
18        1960        179323175    127934000             71.34 cents
19        1970        203302031    247653000                   $1.22
20        1980        226542199   1078488000                   $4.76
21        1990        248718301   2492830000                  $10.02
22        2000        281421906   4500000000                  $15.99
23        2010        308745538  13000000000                  $42.11

Average Cost Per Person: need to make everything into dollar amount

In [23]:
def cleanse_average(raw_average):

  average = raw_average

  # if 'cents' in average cost, do the following
  if 'cents' in raw_average:
    # remove 'cents'
    average = average.replace('cents','')
    # divide by 100 to get dollar amount
    average = str(float(average)/100)

    split_list = average.split('.')
    average = split_list[0]+'.'+split_list[1][:2]

  # remove '$'
  average = average.replace('$','')
  
  return average

In [24]:
cleanse_average('71.34 cents')

'0.71'

In [25]:
cleanse_average('$42.11')

'42.11'

In [26]:
df['Average Cost Per Person'] = df['Average Cost Per Person'].apply(cleanse_average)

In [27]:
df

0  Census Year Total Population  Census Cost Average Cost Per Person
1         1790          3929214        44377                    0.01
2         1800          5308483        66109                    0.01
3         1810          7239881       178445                    0.02
4         1820          9633822       208526                    0.02
5         1830         12866020       378545                    0.02
6         1840         17069458       833371                    0.04
7         1850         23191876      1423351                    0.06
8         1860         31443321      1969377                    0.06
9         1870         38558371      3421198                    0.08
10        1880         50155783      5790678                    0.11
11        1890         62979766     11547127                    0.18
12        1900         76303387     11854000                    0.15
13        1910         91972266     15968000                    0.17
14        1920        105710620     25117000                    0.23
15        1930        122775046     40156000                    0.32
16        1940        131669275     67527000                    0.51
17        1950        151325798     91462000                    0.60
18        1960        179323175    127934000                    0.71
19        1970        203302031    247653000                    1.22
20        1980        226542199   1078488000                    4.76
21        1990        248718301   2492830000                   10.02
22        2000        281421906   4500000000                   15.99
23        2010        308745538  13000000000                   42.11

## Step 8
After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.

In [30]:
df.to_csv('census_cost_cleansed.csv')