# Assignment 04 
https://github.com/wcj365/python-stats-dataviz/blob/master/assignment_fall2020/assignment_04.md

## Question 1
Write code to open the text file census_cost.txt and read all lines into a list named **line_list**. Print **line_list**.

In [1]:
# Open census_cost.txt
with open("census_cost.txt", "rt") as my_file:
  line_list = my_file.readlines()

In [2]:
# Print line_list
print(line_list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11']

In [3]:
# Easier print view of line_list
for i in line_list:
  print(i)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

## Question 2
Extract the first two lines and put them in a different list named **top2_list**. You will need to use them later. Print the **top2_list**.

In [4]:
# Extract first 2 lines of line_list
top2_list = line_list[:2]

In [5]:
# Print top2_list
print(top2_list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

## Question 2
Put the rest of the lines (containing useful data elements) in a new list named **data_list**. Print **data_list**.

In [6]:
# Extract the data lines
data_list = line_list[2:]

In [7]:
# Print data_list
print(data_list)

['1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11']

In [8]:
# Print data_list in readable format
for i in data_list:
  print(i)

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

## Question 4
Extract the column **Census Year** from data_list and assign them to a list named **year_list**. Remove the * from the last element "2010*". Print the cleanser **year_list**.

In [9]:
year_list = []

# get the year from each line
for i in data_list:
  # split by tabs
  split_list = i.split('\t')
  
  # get the year
  year_list.append(split_list[0])

In [10]:
# print year_list 
print(year_list)

['1790', '1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010*']

In [11]:
# get the last element & remove '*'
last_element = year_list[-1].replace('*','')
year_list[-1] = last_element
print(year_list)

['1790', '1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010']

## Question 5
Extract the **Total Population** from **data_list** and assign them to a list named **pop_list**. Remove the "," from the numbers since python doesn't recognize them. Print the cleansed **pop_list**.

In [12]:
pop_list = []

# get the population from each line
for i in data_list:
  # split by tabs
  split_list = i.split('\t')
  
  # get the population
  pop_list.append(split_list[1].replace(',',''))

In [13]:
# print pop_list
print(pop_list)

['3929214', '5308483', '7239881', '9633822', '12866020', '17069458', '23191876', '31443321', '38558371', '50155783', '62979766', '76303387', '91972266', '105710620', '122775046', '131669275', '151325798', '179323175', '203302031', '226542199', '248718301', '281421906', '308745538']

## Question 6
Extract **Census Cost** column from the data_list and assign them to a list named **cost_list**. Remove the ",", "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed **cost_list**.

In [14]:
cost_list = []

# get the cost from each line
for i in data_list:
  # split by tabs
  split_list = i.split('\t')
  
  # get the cost
  cost = split_list[2]

  # If the cost has "Billion" in it, do the following
  if "Billion" in cost:
    # remove "Billion"
    cost = cost.replace("Billion", '')

    # if data is a period in it, like "$4.5", do the following
    if "." in cost:
      # split it based on period
      cost_split = cost.split(".")

      # grab the part after the period
      after = cost_split[1]
      # we know how many number make up a billion, we want to fill any empty spots with zero
      count_spots = 0 + len(after)
      # filling empty spots with 0
      while count_spots <= 9:
        after = after + "0"
        count_spots += 1

      # rejoin the numbers so that you have the correct length of the number
      cost = cost_split[0] + after

    # if you don't have period, do the following
    else:
      # add zeros to get to the appropriate "billion" length
      cost = cost + "000000000"

  # remove spaces
  cost = cost.replace(' ','')
  # remove commas
  cost = cost.replace(',', '')
  # remove dollar signs
  cost = cost.replace('$','')

  # add cleaned cost to cost_list
  cost_list.append(cost)

In [15]:
# print cost_list
print(cost_list)

['44377', '66109', '178445', '208526', '378545', '833371', '1423351', '1969377', '3421198', '5790678', '11547127', '11854000', '15968000', '25117000', '40156000', '67527000', '91462000', '127934000', '247653000', '1078488000', '2492830000', '4500000000', '13000000000']

## Question 7
Extract the **Average Cost per Person** column from the **data_list** and assign them to a list named **avg_list**. Remove the 'cents' and '$'. Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollars. Print the cleansed **avg_list**.

In [16]:
avg_list = []

# get the avg cost from each line
for i in data_list:
  # split by tabs
  split_list = i.split('\t')
  # get average cost
  avg_cost = split_list[3]

  # if "cents" is in avg cost, do the following
  if "cents" in avg_cost:
    # remove "cents"
    avg_cost = avg_cost.replace('cents','')
    # divide by 100 to get dollar amount
    avg_cost = str(float(avg_cost)/100)

    # make a dollar amount
    split_list = avg_cost.split('.')
    # make sure it is only two decimal places
    avg_cost = split_list[0]+'.'+split_list[1][:2]

  # remove '$' and new lines
  avg_cost = avg_cost.replace('$','')
  avg_cost = avg_cost.replace("\n",'')

  # add to avg_list
  avg_list.append(avg_cost)

In [17]:
# print avg_list
print(avg_list)

['0.01', '0.01', '0.02', '0.02', '0.02', '0.04', '0.06', '0.06', '0.08', '0.11', '0.18', '0.15', '0.17', '0.23', '0.32', '0.51', '0.60', '0.71', '1.22', '4.76', '10.02', '15.99', '42.11']

## Question 8
Combine the **top2_list** and cleansed data to a text file names "census_cost.csv". The new file should look similar to the original source file except that it is a comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.

In [18]:
rows = []
for i in range(min(len(year_list), len(pop_list), len(cost_list), len(avg_list))):
  rows.append(",".join([year_list[i], pop_list[i], cost_list[i], avg_list[i], "\n"]))

with open("census_cost.csv", "w") as csv:
  csv.writelines(top2_list)
  csv.writelines(rows)